<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Ініціалізація -->
    <listener>
        <listener-class>sumdu.edu.ua.config.AppInit</listener-class>
    </listener>

    <!-- Фільтр помилок -->
    <filter>
        <filter-name>GlobalErrorFilter</filter-name>
        <filter-class>sumdu.edu.ua.web.error.GlobalErrorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GlobalErrorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Книги (HTML) -->
    <servlet>
        <servlet-name>BooksServlet</servlet-name>
        <servlet-class>sumdu.edu.ua.web.BooksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BooksServlet</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>

    <!-- Книги (API) -->
    <servlet>
        <servlet-name>BooksApiServlet</servlet-name>
        <servlet-class>sumdu.edu.ua.web.BooksApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BooksApiServlet</servlet-name>
        <url-pattern>/api/books</url-pattern>
    </servlet-mapping>

    <!-- Коментарі -->
    <servlet>
        <servlet-name>CommentsServlet</servlet-name>
        <servlet-class>sumdu.edu.ua.web.CommentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentsServlet</servlet-name>
        <url-pattern>/comments/*</url-pattern>
    </servlet-mapping>

    <!-- Welcome file -->
    <welcome-file-list>
        <welcome-file>books</welcome-file>
    </welcome-file-list>

</web-app>